:root{
    --primaary_color: #12232E;
    --secondary_color: #007CC7;
    --light_blue: #4DA8DA;
    --dark_blue: #203647;
    --heading_blue: #EEFBFB;
}

*{
    margin: 0;
    padding: 0;
}
.container
{
    max-width: 90%;
    margin: 0 auto;
}

/* Fonts */

body 
{
    font-family: 'Judson', serif;
}
   
h1, h2, h3, h4, h5, h6 
{
    font-family: 'Archivo Black', sans-serif;
}


/* Header */
.header
{
    background: var(--secondary_color);
    color: var(--heading_blue);
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.header__main
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header__main__Logo
{
    flex-basis: 50%;
}
.header__main__nav
{
    flex-basis: 50%;
}
.header__main__nav > ul{
    display: flex;
    justify-content: flex-end;
}
.header__main__nav > ul >li
{
    list-style: none;
}
.header__main__nav > ul > li > a
{
    text-decoration: none;
    color: var(--heading_blue);
    padding: 0 20px;
    transition: .5s all;
    font-weight: 500;
}
.header__main__nav > ul > li > a:hover
{
    color: var(--primaary_color);
    text-decoration: underline;
}

/* Banner */
.banner
{
    height: 80vh;
    background-image: url(accets/banner.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__main
{
    text-align: center;
    color: var(--dark_blue);
}
.banner__main > h1
{
    font-size: 50px ;
}

/* About section */
.About
{
    background-color: var(--heading_blue);
    height: 40vh;
    border-top: 20px solid #4BA8DA;
}
.About__main
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.About__main__profile,.About__main__text
{
    flex-basis: 50%;
}
.About__main__text
{
    background-color: #fff;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 15px 10px 20px #4ba8da6c;
}
.About__main__text >h1
{
    padding-bottom: 25px;
}












@media only screen and (max-width: 1024px)
{
    .header__main{
        justify-content: center;
    }
    .header__main__Logo
    {
        text-align: center;
    }
    .header__main__nav > ul
    {
        margin-top: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .header__main__Logo , .header__main__nav
    {
        flex-basis: 100%;
    }
    
}
@media only screen and (max-width:768px)
{
    .header__main__nav > ul > li > a
    {
        padding: 0 5px;
    }
}